---
version: 2
registries:
  dockerhub: # Define access for a private registry
    type: docker-registry
    url: registry.hub.docker.com
    username: ${{ secrets.DOCKERHUB_LOGIN }}
    password: ${{ secrets.DOCKERHUB_PASSWORD }}
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: docker
    registries:
      - dockerhub
    directory: /
    schedule:
      interval: weekly
